body {
    background: #1a1a1a;
    line-height: 1.4;
    margin: auto;
    padding-bottom: 20px;
    color: #808080;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 11px;
}

body * {
    margin: auto;
}

#header img {
    margin: auto;
}

#container {
    background: #101010;
    border: 1px solid #2a2a2a;
    width: 750px;
    color: #808080;
    margin: auto;
    padding: 20px;
    text-align: left;
    border-radius: 15px;
}

#container p {
    margin: 10px auto;
}

#links {
    margin-bottom: 25px;
    text-align: center;
}

#disclaimer {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    display: none;
}

.rss {
    text-align: center;
}

#junk {
    display: none;
}

#msg {
	background: #F00;
	a:link { color:#F00; }
	a:visited { color:#F00; }
	width: 750px;
	color: #FFF;
	margin: auto auto;
	padding: 3px;
	text-align: center;}

select {
    padding:3px;
    margin: 0;
    overflow:hidden;

    border-radius:4px;

    background: #101010;
    color:#ff409f;
    border:1px solid #808080;

    outline:none;
    display: inline-block;

    cursor:pointer;
}

.disabled {
    color: #808080;
    font-style: italic;
}
.disabled[selected], .disabled:focus {
    background: transparent;
}

.poni {
	background-color:#101010;
	border:1px solid #101010;
	display:inline-block;
	color:#ff40a0;
	text-decoration:none;
}

.poni:hover {
	background-color:#1a1a1a;
}

.poni:active {
	position:relative;
	top:1px;
}

table tr td:first-child, table tr th:first-child {
    text-align: left;
}

a{ color: #ff409f; font-weight: bold; }
a:hover{ color: #ff0080; text-decoration: underline; }
a.current{ color: gray !important; cursor: default; text-decoration: none; }
