

#container {
	background: #CBBFD1;
	border: 1px solid #2a2a2a;
	width: 750px;
	color: #000000;
	margin: auto auto;
	padding: 20px;
	text-align: left;
	border-radius: 15px;
}
body {
	background: #522966 repeat-x;
background-attachment: fixed;
	repeat-x: ;
	line-height: 1.4;
	margin: auto auto;
	padding-bottom: 20px;
	color: #000000;
	text-align: center;
	font-family: arial;
	font-size: 11px;
}

#msg {
	background: #F00;
	width: 750px;
	color: #FFF;
	margin: auto auto;
	padding: 3px;
	text-align: center;}

a{ color: #0000CC; font-weight: bold; }
a:hover{ color: #0066FF; text-decoration: underline; }
a.current{ color: gray !important; cursor: default; text-decoration: none; }
