#container {
	background: #101010;
	border: 1px solid #2a2a2a;
	width: 350px;
	color: #808080;
	margin: auto auto;
	padding: 20px;
	text-align: left;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
body {
	background: #1a1a1a repeat-x;
background-attachment: fixed;
	repeat-x: ;
	line-height: 1.4;
	margin: auto auto;
	padding-bottom: 20px;
	color: #808080;
	text-align: center;
	font-family: tahoma;
	font-size: 11px;
}



a{ color: #ff409f; font-weight: bold; }
a:hover{ color: #ff0080; text-decoration: underline; }
a.current{ color: gray !important; cursor: default; text-decoration: none; }
